@model EmployeeManagementTool.DataModels.Employee

@{
    Layout = "~/Views/Shared/_LayoutforAdminPanel.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    </section>
    <h2>Configuration</h2>
    <!-- Main content -->
    <section class="content">
        
        <div class="form-floating mb-3">
            @*@Html.TextBoxFor(model=>model.Email,new{@type="number",@class="form-control",@id="TotalAttempts", @placeholder="Total attempts"})*@
            <input type="number" class="form-control" id="TotalAttempts" placeholder="Enter TotalAttempts"/>
            <label for="LoginEmail"><small>Attempt</small></label>
            
        </div>
        <div class="form-floating mb-3">
            @*@Html.TextBoxFor(model=>model.Email,new{@type="number",@class="form-control",@id="PasswordExpiryDays", @placeholder="Password Expiry Day"})*@
            <input type="number" class="form-control" id="PasswordExpiryDays" placeholder="Password Expiry Day" />
            <label for="PasswordExpiryDays"><small>Expiry Password Day</small></label>
            
        </div>
        <button type="submit" id="saveConfiguration" class="btn btn-primary">Save</button>
        
        
    </section><!-- /.content -->
</div><!-- /.content-wrapper -->

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
    $(document).ready(function() {
        $(".point03").addClass("active");

        $.ajax({
            url: '/Admin/Admin/GetConfigurationData',
            type: 'POST',
            
            datatype: "json",

            success: function (result) {

                console.log(result)
                $("#TotalAttempts").val(result.value[0].total)
                $("#PasswordExpiryDays").val(result.value[0].day)
            }
        });
    })

    $("#saveConfiguration").click(function(){
        
        $.ajax({
            url: '/Admin/Admin/Configuration',
            type: 'POST',
            data: {
                TotalAttempts: $("#TotalAttempts").val(),
                PasswordExpiryDays : $("#PasswordExpiryDays").val(),
            },
            datatype: "html",

            success: function (result) {

                window.location.reload();
            }
        });
    });
</script>