<link rel="stylesheet" href="~/css/AdminPanel.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">



<body class="skin-blue-black">
    <div class="wrapper">
        <header class="main-header col-lg-12">
            <span class="logo-mid "><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1818275/profile/profile-80.jpg?1520571742" />Admin Pro</span>
            <div class="fa fa-bars" id="menu_bar"></div>
            <!--<div class="fa fa-search" id="search_bar"></div> -->
            <div class="fa fa-gears" id="settings_bar"></div>
            <div class="user-profile">
                <span>@*Andrew Smith*@ @ViewBag.Name</br>Accountant</span>
                <div class="mini-user fa fa-user-circle"></div>
            </div>
            <!--
                      <div class="fa fa-flag-o" id="icon_bar">
                          <span class="label bg-red">4</span>
                      </div> -->
            <div class="fa fa-bell-o notification-icon" id="icon_bar">
                <span class="label bg-orange">2</span>
            </div>
            <!--
                      <div class="fa fa-envelope-o" id="icon_bar">
                          <span class="label bg-yellow">7</span>
                      </div> -->
        </header>
        <div class="leftMenu">
            <ul class="leftMenuList">
                <li class="tooltip_nav point01">
                    <a href="~/Admin/Admin/Dashboard">
                        <i class="fa fa-dashboard" aria-hidden="true"></i>
                        <span>Dashboard</span>
                        <p>Dashboard</p>
                    </a>
                </li>

                <li class="tooltip_nav point02">
                    <a href="~/Admin/Admin/Employees">
                        <i class="fa fa-users" aria-hidden="true"></i>
                        <span>Employees</span>
                        <p>Employees</p>
                    </a>
                </li>
                <li class="tooltip_nav point03">
                    <a href="~/Admin/Admin/Configuration">
                        <i class="fa fa-cog" aria-hidden="true"></i>
                        <span>Configuration</span>
                        <p>Configuration</p>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            @RenderBody()
        </div>
        <!-- Control Sidebar -->
        <div class="notification-hover">
            <span>Layout Option <i>02 new</i></span>
            <li>
                <p>Profile Vistors<i class="bg-red">06</i></p>
            </li>
            <li>
                <p>Uploads<i class="bg-green">+76</i></p>
            </li>
            <li>
                <p>Matches<i class="bg-orange">+56</i></p>
            </li>
            <li>
                <p>Favourites<i class="bg-purple">+32</i></p>
            </li>
            <li>
                <p>Blocked<i class="bg-grey">+23</i></p>
            </li>
        </div>
        <div class="profile-hover">
            <div class="user-profile-icon fa fa-user-circle"></div>
            <div class="user-profile">
                <span class="">@ViewBag.Name</span></br>
                <span class="">Accountant</span>
                @using (Html.BeginForm("Logout", "Admin", new { area = "Admin" }, FormMethod.Post))
                {
                    <button class="btn" type="submit">Logout</button>
                }
                @*<h1>LogOut</h1>*@
            </div>
        </div>
        <nav class="navigation">
            <div class="menu">
                <span>Layout Option</span>
                <li>
                    <p>Control Theme</p><label class="switch units">
                        <input id="switch" type="checkbox" value="" />
                        <div class="slider round"></div>
                    </label>
                </li>
                <li>
                    <p>Set Activity</p><label class="switch units">
                        <input id="switch" type="checkbox" value="" />
                        <div class="slider round"></div>
                    </label>
                </li>
            </div>
        </nav>

        <div class="popup-overlay"></div>
        <div class="popup-overlay-bell"></div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<script>
        $(document).ready(function () {
      document.querySelector("#menu_bar").onclick = function () {
        var element = document.querySelector(".leftMenu");
        element.classList.toggle("openMenu");

        var closeAccordion = document.getElementsByClassName("dropdown");
        var i = 0;
        for (i = 0; i < closeAccordion.length; i++) {
          closeAccordion[i].classList.remove("active");
        }
      };

      var dropdown = document.getElementsByClassName("dropdown");
      var i = 0;
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].onclick = function () {
          this.classList.toggle("active");
        };
      }

      $("#menu_bar").click(function () {
        $(".main-header span:first").toggleClass("first border");
        $(".content-wrapper").toggleClass("content-wrapper-mid");
        $(".tooltip_nav p").toggleClass("hide");
      });

      jQuery(function ($) {
        $("#settings_bar").click(function () {
          $(".navigation").toggleClass("open");
        });
      });

      $("#color01").click(function () {
        $("body").addClass("skin-green");
      });
    });

    $(document).ready(function () {
      $(".user-profile").on("click", function (e) {
        $(".profile-hover").toggle();
        $(".popup-overlay").toggle();
        e.preventDefault();
      });

      $(".popup-overlay").click(function () {
        $(".popup-overlay").toggle();
        $(".profile-hover").toggle();
      });

      $(".notification-icon").on("click", function (e) {
        $(".notification-hover").toggle();
        $(".popup-overlay-bell").toggle();
        e.preventDefault();
      });

      $(".popup-overlay-bell").click(function () {
        $(".popup-overlay-bell").toggle();
        $(".notification-hover").toggle();
      });
    });

</script>